@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400&display=swap');

body {
  margin: 0;
}

header {
  background: #3c3a39;
}

.logo {
  color: #fff;
  font-size: 1em;
}

.menu {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  z-index: 999;
}

.line {
  width: 30px;
  height: 4px;
  background-color: #fff;
  margin: 2px;
}

.landing-page {
  background-color: rgb(35, 33, 33);
  display: flex;
  flex-direction: column;
  color: #fff;
  background-image: url(images/Group.svg);
  background-repeat: no-repeat;
  background-position: bottom right;
  min-height: 100vh;
}

.introduction {
  color: rgba(255, 166, 0, 0.928);
  font-family: 'Crete Round', sans-serif;
  font-size: 56px;
  font-style: normal;
  font-weight: 400;
  line-height: 84px;
  letter-spacing: 0.37px;
}

.profession {
  color: #fff;
  font-family: 'Roboto', sans-serif;
  font-size: 24px;
  font-style: normal;
  font-weight: 700;
}

.fab {
  color: #fff;
}

.contact {
  display: flex;
  flex-direction: row;
  gap: 20px;
}

.works-header {
  display: flex;
  justify-content: center;
  font-family: 'Crete Round', sans-serif;
  font-size: 40px;
  font-weight: 400;
  font-style: normal;
  color: #1c1a19;
}

.line1 {
  border: 1px solid #565353;
}

.projects-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 20px;
  margin-top: 80px;
}

.work-card {
  display: flex;
  flex-direction: column;
  border: 1px solid #ccc;
}

.Img-placeholder {
  max-width: 325px;
  max-height: 325px;
  margin: 10px auto;
}

.multi-post-h3 {
  margin-left: 20px;
}

.multi-post-h3 h3 {
  font-family: 'Crete Round', sans-serif;
  font-size: 32px;
  font-style: normal;
  font-weight: 400;
}

.multi-post-p {
  margin-left: 20px;
}

.multi-post-p p {
  font-family: 'Inter', sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
}

.box-container1 {
  display: flex;
  gap: 15%;
  margin-left: 20px;
}

.box {
  display: flex;
  border: 1px solid #ccc;
  max-width: 70px;
  justify-content: center;
  padding: auto;
}

.see-project-btn1 {
  margin-left: 20px;
  margin-top: 10px;
  max-width: 150px;
  max-height: 35px;
  border: none;
  background-color: #ff6b00;
  color: #fff;
}

.see-project-btn1:hover {
  background-color: #006aff;
}

.professional {
  background: url(images/Img-placeholder1.svg);
  background-repeat: no-repeat;
  background-size: cover;
}

.professional-h3 {
  font-family: 'Inter', sans-serif;
  font-size: 36px;
  font-style: normal;
  font-weight: 700;
  line-height: 44px;
  color: #fff;
  margin-right: 10%;
  margin-left: 5%;
  margin-top: 16%;
}

.professional-p {
  font-family: 'Inter', sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
  color: #fff;
  margin-right: 10%;
  margin-left: 5%;
}

.box-container2 {
  display: flex;
  gap: 20%;
  margin-left: 5%;
}

.box-container2 .box {
  color: #fff;
  background: rgba(255, 255, 255, 0.24);
}

.see-project-prof {
  background-color: #ff6b00;
  color: #fff;
  border: none;
  margin-top: 4%;
}

.see-project-prof:hover {
  background-color: #006aff;
}

.about {
  background-color: rgb(35, 33, 33);
  background-image: url(images/Group1.svg);
  background-repeat: no-repeat;
  background-position: bottom 62% right;
}

.about-h2 {
  font-family: 'Inter', sans-serif;
  font-size: 36px;
  font-style: normal;
  font-weight: 700;
  color: #ff6b00;
  display: flex;
  justify-content: center;
}

.about-p {
  font-family: 'Inter', sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  color: #fff;
  margin-left: 10%;
  margin-right: 10%;
}

.get-resume {
  background-color: #ff6b00;
  color: #fff;
  border: none;
  margin-left: 10%;
}

.about-line {
  margin-top: 50%;
}

.line2 {
  border: 1px solid white;
}

.interests {
  color: #fff;
}

.interests ul {
  list-style: none;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.title {
  font-family: 'Inter', sans-serif;
  font-size: 36px;
  font-style: normal;
  font-weight: 700;
}

.areas {
  font-family: 'Inter', sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
}

.interests ul.languages > li::before {
  content: '';
  display: inline-block;
  width: 16px;
  height: 16px;
  background-color: #ff6b00;
  transform: rotate(45deg);
  margin-right: 10px;
}

.interests ul.frameworks > li::before {
  content: '';
  display: inline-block;
  width: 16px;
  height: 16px;
  background-color: #ff6b00;
  margin-right: 10px;
}

.interests ul.skills > li::before {
  content: '';
  display: inline-block;
  width: 16px;
  height: 16px;
  background-color: #ff6b00;
  border-radius: 50%;
  margin-right: 10px;
}