// src/components/portfolio/PortfolioPage.module.scss
@import '../styles/mixins';

.portfolioPage {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 2rem;
  background-color: #000;
  color: $text-color;

  .header {
    text-align: center;
    margin-bottom: 2rem;

    .title {
      font-size: 3rem;
      margin-bottom: 1rem;

      .glitch {
        @include glitch;
      }
    }

    .subtitle {
      font-size: 1.5rem;

      .glitch {
        @include glitch;
      }
    }
  }

  .vr360Container {
    position: relative;
    width: 100%;
    height: 500px;
    background-color: #000;
    border-radius: 8px;
    overflow: hidden;
    box-shadow: 0 0 10px rgba($primary-color, 0.5);
    margin-bottom: 2rem;

    canvas {
      width: 100%;
      height: 100%;
    }
  }

  .projectDetails {
    width: 100%;
    max-width: 800px;

    .projectTitle {
      font-size: 2rem;
      margin-bottom: 1rem;
      color: $primary-color;
      @include glitch;
    }

    .projectList {
      list-style: none;
      padding: 0;

      .projectItem {
        margin-bottom: 1rem;
        font-size: 1.2rem;

        .projectItemTitle {
          color: $secondary-color;
          @include glitch;
        }
      }
    }
  }
}