// Header.module.scss
@import '../styles/mixins';

.header {
  background-color: #000;
  color: $text-color;
  padding: 4rem 2rem;
  text-align: center;
  background-image: url("../../assets/images/solid_color.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  min-height: 400px;

  .headerContent {
    margin-top: 4rem;

    h1 {
      font-size: 3rem;
      margin-bottom: 2rem;
      color: $primary-color;

      .glitchText {
        @include glitch;
      }
    }

    p {
      font-size: 1.2rem;
      color: $text-color;
      margin-bottom: 4rem;

      .glitchText {
        @include glitch;
      }
    }

    .ctaButton {
      display: inline-block;
      padding: 1rem 2rem;
      background-color: $primary-color;
      color: #fff;
      text-decoration: none;
      font-size: 1.2rem;
      font-weight: bold;
      border-radius: 4px;
      transition: background-color 0.3s;
      margin-top: 2rem;

      &:hover {
        background-color: darken($primary-color, 10%);
      }
    }
  }
}