@import '../styles/mixins';

.navigation {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
  background-color: #000;
  color: $text-color;
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  z-index: 1000;

  .logoContainer {
    a {
      font-size: 1.5rem;
      font-weight: bold;
      text-decoration: none;
      @include glitch($primary-color);
      transition: box-shadow 0.3s ease-in-out;

      &:hover {
        box-shadow: 0 0 10px $primary-color;
      }
    }
  }

  .menuContainer {
    ul {
      display: flex;
      list-style: none;
      margin: 0;
      padding: 0;

      li {
        margin-left: 2rem;

        .menuLink {
          text-decoration: none;
          position: relative;
          transition: color 0.3s, box-shadow 0.3s ease-in-out;
          @include glitch;
          font-weight: 600;

          &.active {
            color: $primary-color;
            font-weight: 700;

            &::before {
              content: '';
              position: absolute;
              bottom: -0.5rem;
              left: 0;
              width: 100%;
              height: 2px;
              background-color: $primary-color;
            }
          }

          &:hover {
            color: $primary-color;
            box-shadow: 0 0 10px $primary-color;
          }
        }
      }
    }
  }

  .toggleMenu {
    display: none;
    cursor: pointer;
    font-size: 1.5rem;
    @include glitch;
    transition: box-shadow 0.3s ease-in-out;

    &:hover {
      box-shadow: 0 0 10px $primary-color; // Add box-shadow on hover
    }
  }
}

@media (max-width: 768px) {
  .navigation {
    flex-wrap: wrap;
    justify-content: center;

    .logoContainer {
      flex: 1;
      text-align: center;
    }

    .menuContainer {
      display: none;
      width: 100%;
      text-align: center;

      &.active {
        display: block;
      }

      ul {
        flex-direction: column;
        align-items: center;

        li {
          margin-left: 0;
          margin-bottom: 1rem;
        }
      }
    }

    .toggleMenu {
      display: block;
    }

    &.active {
      .logoContainer {
        margin-bottom: 1rem;
      }

      .menuContainer {
        order: 3;
      }

      .toggleMenu {
        order: 2;
      }
    }
  }
}